@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Raleway];
  }

  nav ul li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  background-position: center center;
}

.btn {
  background-image: linear-gradient(to right, #000 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-in-out;
  outline: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 2px;
  margin: 0 10px;
  background-color: white;
  transition: width 0.5s ease-in-out;
}

.custom-underline:hover::after {
  width: 80%;
}
