.heroServices {
  background-image: url("../../../assets/bg-services.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  background-position: center center;
  padding: 200px 0px 120px;
}
