.heroDetail {
  position: relative;
}

.titleDetail {
  margin-left: 80px;
  font-weight: 700;
}

.btnHero {
  margin-left: 80px;
  border: 1px solid #fff;
}

@media (min-width: 276px) and (max-width: 411px) {
  .heroDetail {
    top: -150px;
  }

  .titleDetail {
    font-size: 8px;
    margin-left: 10px;
    margin-bottom: 4px;
  }

  .btnHero {
    padding: 4px 8px;
    font-size: 8px;
    margin-left: 10px;
  }
}

@media (min-width: 411px) and (max-width: 576px) {
  .heroDetail {
    top: -165px;
  }

  .titleDetail {
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 4px;
  }

  .btnHero {
    padding: 4px 8px;
    font-size: 8px;
    margin-left: 10px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .heroDetail {
    top: -250px;
  }

  .titleDetail {
    font-size: 10px;
    margin-left: 20px;
    margin-bottom: 4px;
  }

  .btnHero {
    padding: 4px 8px;
    font-size: 8px;
    margin-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .heroDetail {
    top: -300px;
  }

  .titleDetail {
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 4px;
  }

  .btnHero {
    padding: 6px 12px;
    font-size: 10px;
    margin-left: 30px;
  }
}

@media (min-width: 992px) {
  .heroDetail {
    top: -400px;
  }

  .titleDetail {
    font-size: 24px;
    margin-left: 70px;
  }

  .btnHero {
    font-size: 16px;
    margin-left: 70px;
  }
}

@media (min-width: 1200px) {
  .heroDetail {
    top: -500px;
  }
}

@media (min-width: 1400px) {
  .heroDetail {
    top: -550px;
  }
}
